.parceiros{
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2{
  margin-bottom: 60px;
}

.parceiros ul{
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);/*4 colunas, 1 fr*/
  margin: 0 auto;
}

.parceiros li{
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--cor--3);
}

.parceiros img{
  margin: auto;
}

.parceiros li:first-child,/*remover primeira borda da esquerda pegando pelo primeiro elemento*/
.parceiros li:nth-child(5){  /*Pegando o quinto elemento esquerdo e removendo a borda dele*/
  border-left: none;
}

.parceiros li:nth-child(n + 5){ /*Pegando elementos a partir do quinto item*/
  border-top: 2px solid var(--cor--3);
}

@media(max-width: 800px){
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2{
    margin-bottom: 20px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li{
    padding: 20px;
  }
  .parceiros li:nth-child(n + 3){ /*Pegando elementos a partir do quinto item*/
    border-top: 2px solid var(--cor--3);
  }

  .parceiros li:nth-child(odd){/*odd itens impares*/
    border-left: none;
  }
}